DATABASE_URL=postgresql://postgres:postgres@localhost:5434/call

NEXT_PUBLIC_BACKEND_URL=http://localhost:1284

NEXT_PUBLIC_CALLBACK_URL=http://localhost:3000/app

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:1284


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend. Get your api key from here https://resend.com
EMAIL_FROM=
RESEND_API_KEY=
